@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Noto+Sans+TC:wght@300;400;700&display=swap');

* {
  font-size: 15px;
  font-weight: normal;
  font-family: 'Lato', 'Noto Sans TC',sans-serif;
  line-height: 1.5;
  // color: #4d4d4d;
  outline: none;
}


